:host {
    /deep/ .checkbox-cell {
        padding-top: 6px !important;
    }
}

.upload-popup {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 90px;
    margin: 0;
    cursor: pointer;
    &:after {
        content: ' ';
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 2px dashed #e2e2e2;
        border-radius: 4px;
        transition: all 0.2s linear;
    }
    &__icon {
        font-size: 70px;
        color: #b1b1b1;
        margin: 0 auto;
        margin-bottom: 18px;
        transition: all 0.2s linear;
    }
    &__description {
        font-size: 14px;
        color: #808080;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        display: block;
        transition: all 0.2s linear;
    }
    &__subscription {
        font-size: 10px;
        color: #808080;
        font-weight: 400;
        display: block;
        transition: all 0.2s linear;
    }
    &:hover &__icon {
        color: #4a90e2;
    }
    &:hover &__description {
        color: #4a90e2;
    }
    &:hover &__subscription {
        color: #4a90e2;
    }
    &:hover:after {
        border: 2px dashed #4a90e2;
    }
}
