:host {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
}

.table {
  height: calc(100% - 30px);
  width: 100%;
  margin: 0;
  overflow: auto;
  position: relative;
  &__head {
    height: 30px;
    width: 100%;
    line-height: 30px;
    box-shadow: 0 3px 6px -6px rgba(0, 0, 0, 0.7);
    color: #333333;
    white-space: nowrap;
    z-index: 1;
    position: relative;
  }
  &__head-cell {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
    height: 30px;
    overflow: visible;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    &:last-child:before {
      display: none;
    }
    &:hover {
      z-index: 1;
    }
  }
  &__head-cell-order {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    border: solid 4px transparent;
    border-bottom-width: 0;
    border-top-color: #3c3c3c;
    &_reverse {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
  &__head-cell-resize {
    position: absolute;
    right: 0;
    width: 2px;
    background: #f4f4f4;
    top: 4px;
    bottom: 4px;
    cursor: col-resize;
    &:active:before {
      content: ' ';
      position: absolute;
      width: 100px;
      height: 100%;
      top: 0;
      left: -50px;
    }
  }
  &__body {
    white-space: nowrap;
  }
  &__column {
    line-height: 25px;
    font-size: 12px;
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }
  &__cell:nth-child(2n) {
    background: #fafafa;
  }
  &__cell_focused {
    background: #dce4fe !important;
  }
  &__cell {
    padding: 0 10px;
    position: relative;
    height: 25px;
    display: block;
    &:before {
      content: ' ';
      position: absolute;
      right: 0;
      width: 1px;
      background: #f4f4f4;
      top: 4px;
      bottom: 4px;
    }
    &:last-child:before {
      display: none;
    }
  }
  &__body {
    height: calc(100% - 30px);
  }
  &__preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 70px;
    background-image: url("/assets/preloader.gif");
    background-size: contain;
    background-position: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s linear;
    &.show {
      opacity: 1;
    }
  }
}

.pagination {
  height: 30px;
  display: block;
  &__nav {
    float: left;
  }
  &__nav-button {
    min-width: 30px;
    height: 30px;
    float: left;
    display: block;
    position: relative;
    cursor: pointer;
    color: #444444;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    &:hover {
      background: #fafafa;
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &_page {
      font-size: 14px;
      cursor: default;
      background: transparent;
    }
  }
  &__quantity {
    float: right;
    line-height: 30px;
    font-size: 14px;
    color: #999999;
  }
}