<app-header-bar
    title="My impossible app"
    [statusSubscribe]="'Баланс: ' + company.balance"
    [status]="company.name"
>
    <app-action
        faIcon="fa-upload"
        title="Загрузить"
        (execute)="uploadPopup.show()"
        *ngIf="user.role === 'Operator'"
    ></app-action>
    <app-action
        faIcon="fa-sort"
        title="Приоритет"
        (execute)="priorityPopup.show()"
        *ngIf="user.role === 'Accountant'"
    ></app-action>
    <app-action
        faIcon="fa-edit"
        title="Подписать"
        *ngIf="user.role === 'Director'"
        (execute)="signDocuments()"
    ></app-action>
    <app-action
        faIcon="fa-filter"
        title="Фильтр"
        (execute)="filterPopup.show()"
    ></app-action>
</app-header-bar>

<app-admin-menu></app-admin-menu>

<app-admin-page-container>
  <lib-grid
      [definitions]="gridDefinition"
      [list]="filteredDocuments"
      [pageSize]="30"
  ></lib-grid>
</app-admin-page-container>

<lib-popup
    height="320px"
    size="450px"
    [padding]="0"
    header="Загрузить"
    #uploadPopup
>
    <label class="upload-popup"
           (dragenter)="preventDefaults($event)"
           (dragover)="preventDefaults($event)"
           (dragleave)="preventDefaults($event)"
           (drop)="fileDropListener($event)">
        <span class="upload-popup__icon fa fa-upload"></span>
        <span class="upload-popup__description">Выберите файлы</span>
        <span class="upload-popup__subscription">Только XML формат</span>
        <input type="file" multiple hidden (change)="fileInputListener($event)">
    </label>
</lib-popup>

<lib-popup
    size="260px"
    header="Приоритет"
    overflow="visible"
    #priorityPopup
>
    <lib-field
        type="dropdown"
        label="Выберите вариант"
        size="100"
        [stack]="priorityVariantsStack"
        #priorityField
    ></lib-field>
    <lib-field
        type="button"
        label="Подтвердить"
        size="100"
        (exec)="setPriority(priorityField.value)"
    ></lib-field>
</lib-popup>

<lib-popup
    size="400px"
    header="Фильтр"
    overflow="visible"
    #filterPopup
>
    <div class="after-clear">
        <lib-field
            type="dropdown"
            label="Приоритет"
            size="50"
            [stack]="priorityVariantsStack"
            [(value)]="filterDefinitions.priority"
        ></lib-field>
        <lib-field
            type="text"
            label="Название"
            size="50"
            [stack]="priorityVariantsStack"
            [(value)]="filterDefinitions.name"
        ></lib-field>
        <lib-field
            type="number"
            label="Минимальная сумма"
            size="50"
            [(value)]="filterDefinitions.minAmount"
        ></lib-field>
        <lib-field
            type="number"
            label="Максимальная сумма"
            size="50"
            [(value)]="filterDefinitions.maxAmount"
        ></lib-field>
    </div>
    <div class="after-clear">
        <lib-field
            type="button"
            label="Отчистить"
            size="50"
            (exec)="clearFilter()"
        ></lib-field>
        <lib-field
            type="button"
            label="Подтвердить"
            size="50"
            (exec)="filterDocuments()"
        ></lib-field>
    </div>
</lib-popup>
